<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/stylesheets/mypage.css">
</head>

<body>
  <h1>마이페이지</h1>
  <div class="button-container">
    <a href="/myinfo">내 정보 관리</a>
    <a href="/myposts">내 게시글 보기</a>
    <a href="/rentalhistory">대여 내역</a>
    <a href="/logout">로그아웃</a>
  </div>

</body>

</html>