body {
  font-family: Arial, sans-serif;
  background-color: #f6f4eb;
}

main {
  max-width: 900px;
  font-size: larger;
  margin: 0 auto;
  padding: 20px;
}
/* 페이지 컨테이너 */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* 사용자 정보 섹션 */
.user-info {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

/* 입력 폼 스타일 */
.user-info form {
  display: flex;
  flex-wrap: wrap;
}

.user-info label,
.user-info input {
  width: 100%;
  margin-bottom: 10px;
}

/* 메뉴 영역 스타일 */
.menu-area {
  background-color: #749bc2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* 좌측 메뉴 영역의 너비 설정 */
  padding: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-area ul {
  list-style-type: none;
  padding: 5px;
}

.menu-area li {
  margin-bottom: 20px;
}

.menu-area a {
  color: #fff;
  text-decoration: none;
  font-size: large;
  display: block;
}

/* 메뉴 로고 이미지 스타일 */
.menu-logo#activeMenu {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 10px;
  background-color: #749bc2;
  cursor: pointer;
}

.menu-logo#hiddenMenu {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #f6f4eb;
  cursor: pointer;
}

.menu-logo img {
  width: 30px;
  height: 30px;
  display: block;
}

/* 메뉴 영역 열린 상태 스타일 */
.menu-area.active {
  width: 200px; /* 열린 상태의 너비 설정 */
  transition: width 0.3s ease-in-out;
}

/* 메뉴바 스타일 */
.menu {
  display: none; /* 메뉴를 숨김 */
}

.hidden {
  display: none;
}

/* 홈 로고 스타일을 설정합니다. */
.home-logo {
  position: fixed;
  bottom: 10px; /* 맨 아래 위치 조정 */
  left: 10px; /* 맨 왼쪽 위치 조정 */
  z-index: 2; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
  cursor: pointer;
}

/* 홈 이미지 크기를 조정합니다. */
.home-logo img {
  width: 30px;
  height: 30px;
}

/* 홈 이미지에 호버 효과를 추가합니다. */
.home-logo img:hover {
  opacity: 0.7; /* 호버 시 투명도 조정 */
}

.menu-logo#hiddenMenu img:hover {
  opacity: 0.7; /* 호버 시 투명도 조정 */
}

.menu-logo#activeMenu img:hover {
  opacity: 0.7; /* 호버 시 투명도 조정 */
}