body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #map {
    height: 80%;
    width: 100%;
  }
  
  #station-info {
    background: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 100;
  }
  